@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

body{
    background-color: pink;
    text-align: center;
}

h1{
    background-color: white;
    color: red;
    font-size: 80px;
    padding: 40px;
    font-family: 'Dancing Script', cursive;
}

p{
    background-color: rgb(176, 40, 255);
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
    margin-bottom: 35px;
    font-family: 'Borel', cursive;
    color: white;
}

#foto4{
    max-width: 500px;
    min-width: 150px;
}